<h2> <span>Yiddish Proverb/ No. <%= @quote.unique_tag %></span></h2> 
<h3>Here's the <u>best Yiddish Proverb</u> you can get!</h3>

<h1><%= @quote.saying %></h1>

<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" /> <br /> <br /> <br />
